<div id="carouselExampleIndicators" class="carousel slide  anim-slide-left" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <figure class="carousel-item active">
            <img src="#" class="d-block img-fluid" ng-src="img/Awesome_Site.jpg" alt="webpage with some dummy texts, blocks and images">
            <figcaption class="carousel-caption d-none d-md-block">
                <h3 class="heading">
                    <a href="https://siarheidrozd.github.io/css-framework/" target="_blank">Framework</a>
                </h3>
                <ul class="used-skills">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap framework</li>
                    <li>Sass preprocessor</li>
                </ul>
                <a href="https://github.com/SiarheiDrozd/css-framework" target="_blank">View on GitHub</a>
            </figcaption>
        </figure>
        <figure class="carousel-item">
            <img src="#" class="d-block img-fluid" ng-src="img/HTML-CSS_Final_Task.jpg" alt="webpage of some wear store">
            <figcaption class="carousel-caption d-none d-md-block">
                <h3 class="heading">
                    <a href="https://siarheidrozd.github.io/css-final-task/" target="_blank">Layout</a>
                </h3>
                <span>(Pure CSS and HTML layout)</span>
                <ul class="used-skills">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Semantics</li>
                </ul>
                <a href="https://github.com/SiarheiDrozd/css-final-task" target="_blank">View on GitHub</a>
            </figcaption>
        </figure>
        <figure class="carousel-item">
            <img src="#" class="d-block img-fluid" ng-src="img/Responsive.jpg" alt="webpage with green forest on background and news blocks">
            <figcaption class="carousel-caption d-none d-md-block">
                <h3 class="heading">
                    <a href="https://siarheidrozd.github.io/html-css-responsive/" target="_blank">Responsive</a>
                </h3>
                <ul class="used-skills">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Responsive design</li>
                    <li>Adaptive design</li>
                </ul>
                <a href="https://github.com/SiarheiDrozd/html-css-responsive" target="_blank">View on GitHub</a>
            </figcaption>
        </figure>
        <figure class="carousel-item">
            <img src="#" class="d-block img-fluid" ng-src="img/Simple_Game.jpg" alt="webpage with 'Night Runner' game">
            <figcaption class="carousel-caption d-none d-md-block">
                <h3 class="heading">
                    <a href="https://siarheidrozd.github.io/simpleGame/" target="_blank">SimpleGame</a>
                </h3>
                <span>(use chrome for better experience)</span>
                <ul class="used-skills">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>&lt;canvas&gt;</li>
                    <li>Animation</li>
                </ul>
                <a href="https://github.com/SiarheiDrozd/simpleGame/" target="_blank">View on GitHub</a>
            </figcaption>
        </figure>
        <figure class="carousel-item">
            <img src="#" class="d-block img-fluid" ng-src="img/YouTube.jpg" alt="Youtube searcher webpage">
            <figcaption class="carousel-caption d-none d-md-block">
                <h3 class="heading">
                    <a href="https://siarheidrozd.github.io/Search-Youtube/" target="_blank">YouTube Searcher</a>
                </h3>
                <ul class="used-skills">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>ES6 Javascript</li>
                    <li>Promises</li>
                    <li>YouTube API</li>
                </ul>
                <a href="https://github.com/SiarheiDrozd/Search-Youtube/" target="_blank">View on GitHub</a>
            </figcaption>
        </figure>
    </div>
    <div class="wall"></div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
