
body {
    background-color: #202528;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    height: 100vh;
    max-height: 100vh;
}
header {
    height: 10vh;
    min-height: 75px;
    /*background-color: rgb(74, 74, 74);*/
}
main {
    height: 85vh;
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #E16515;
}
footer {
    height: 5vh;
    min-height: 25px;
}
a {
    text-decoration: underline;
}
a:hover {
    text-shadow: 0 0 10px #ebebeb;
    text-decoration: none;

}
a, a:hover, a:focus {
    color: #fff;
}
.signature {
    font-family: 'Indie Flower', cursive;
}
.wrapper {
    max-width: 1280px;
    height: 100%;
    margin: auto;
}
.content-wrapper {
    height: 100%;
    margin: auto;
    background-color: #202528;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-size: 3rem;
    cursor: pointer;
}
.front-end-block {
    height: 100%;
    width: 35%;
    padding: 0 10px;
}
.cv-block {
    width: 30%;
    height: 100%;
    padding: 0 10px;
}
.cg-block {
    width: 35%;
    height: 100%;
    padding: 0 10px;

}

.front-end-block:hover,
.cv-block:hover,
.cg-block:hover {
    background-color: #34393c;
}
.front-end-block.active,
.cv-block.active,
.cg-block.active {
    background: linear-gradient(to bottom, rgb(225, 62, 62), rgb(225, 101, 21));
}
.img-fluid {
    object-fit: cover;
    vertical-align: top;
}
.carousel {
    height: 100%;
    max-width: 1900px;
    margin: auto;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #8a8a8a;
    background-color: rgba(34, 34, 34, 0.71);
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px black
}
.carousel-caption .heading{
    font-size: 3rem;
}
.carousel-caption .description{
    font-size: 2rem;
}
.carousel-indicators {
    bottom: 0;
    height: 30px;
    width: 222px;
    background-color: rgba(34, 34, 34, 0.71);
    left: 50%;
    margin: 0;
    transform: translate(-50%);
    right: initial;
    top: initial;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.wall {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.1);
    pointer-events: none;
}
.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}
.carousel-control-prev {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(34, 34, 34));
}
.carousel-control-next {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(34, 34, 34));
}


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}

