html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    max-height: 100vh;
    background-color: #202528;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

header {
    height: 100px;
    min-height: 75px;
}

main {
    height: calc(100vh - 125px);
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #E16515;
}

footer {
    height: 25px;
    min-height: 25px;
}

h1, h2 {
    font-size: 3rem;
    height: 100%;
    line-height: inherit;
}

h3, h4 {
    clear: both;
}

a {
    text-decoration: underline;
}

a, a:hover, a:focus {
    color: #fff;
}

a:hover {
    text-shadow: 0 0 10px #ebebeb;
    text-decoration: none;
}

a.active {
    text-decoration: none;
}

.contacts-list {
    list-style: none;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    height: 100%;
    margin: auto;
}

.fa.header-ico {
    display: none;
}

.content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    background-color: #202528;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-size: 3rem;
    line-height: 100px;
    cursor: pointer;
}

.front-end-block,
.cv-block,
.cg-block {
    height: 100%;
    padding: 0 10px;
}

.front-end-block {
    width: 35%;
}

.cv-block {
    width: 30%;
}

.cg-block {
    width: 35%;
}

.front-end-block:hover,
.cv-block:hover,
.cg-block:hover {
    background-color: #34393c;
}

.front-end-block.active,
.cv-block.active,
.cg-block.active {
    background: linear-gradient(to bottom, rgb(225, 62, 62), rgb(225, 101, 21));
}

.img-fluid {
    object-fit: cover;
    vertical-align: top;
}

.carousel {
    height: 100%;
    max-width: 1900px;
    margin: auto;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    display: block !important;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #8a8a8a;
    background-color: rgba(34, 34, 34, 0.71);
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px black
}

.carousel-caption .heading {
    font-size: 3rem;
}

.carousel-caption .description {
    font-size: 2rem;
}

.used-skills {
    text-align: left;
}

.carousel-indicators {
    bottom: 0;
    height: 30px;
    width: 222px;
    background-color: rgba(34, 34, 34, 0.71);
    left: 50%;
    margin: 0;
    transform: translate(-50%);
    right: initial;
    top: initial;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wall {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.1);
    pointer-events: none;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}

.carousel-control-prev {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(34, 34, 34));
}

.carousel-control-next {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(34, 34, 34));
}

/*.slide {*/
/*width: 100%;*/
/*height: 100%;*/
/*display: block;*/
/*background-color: #202528;*/
/*-webkit-transition: -webkit-transform .7s ease-in-out;*/
/*-moz-transition: -moz-transform .7s ease-in-out;*/
/*-o-transition: -o-transform .7s ease-in-out;*/
/*transition: transform .7s ease-in-out;*/
/*-webkit-transform: translateX(0);*/
/*transform: translateX(0);*/
/*z-index: auto;*/
/*}*/

/*.slide.ng-enter {*/
/*-webkit-transform: translateY(-100%);*/
/*transform: translateY(-100%);*/
/*z-index: 100;*/
/*}*/

/*.slide.ng-enter.ng-enter-active, .slide.ng-leave {*/
/*position: absolute;*/
/*-webkit-transform: translateY(0);*/
/*transform: translateY(0);*/
/*}*/

/*.slide.ng-leave.ng-leave-active {*/
/*z-index: 1;*/
/*!*-webkit-transform: translateX(100%);*!*/
/*!*transform: translateX(100%);*!*/
/*}*/

/*.slide.go-left {*/
/*-webkit-transform: translateX(-100%);*/
/*transform: translateX(-100%);*/
/*}*/
/*.slide.go-right {*/
/*-webkit-transform: translateX(100%);*/
/*transform: translateX(100%);*/
/*}*/

.resume-cv_wrapper {
    font-size: 0;
}

.cv-column {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    padding: 10px;
}

.resume-cv_column {
    background-color: #34393c;
    height: 100%;
    width: 50%;
}

.resume-cv {
    margin: auto;
}

.personal-info {
    font-size: 0;
}

.personal-info dd,
.personal-info dt {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
}

.personal-info dt {
    width: 25%;
}

.personal-info dd {
    width: 75%;
}

.personal-info_line {
    padding-top: 8px;
    border-top: 1px solid #fff;
}

.avatar {
    position: relative;
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}

.front-end_column {
    width: 25%;
}

.skills-set_heading {
    text-align: center;
    border-bottom: 1px solid #8a8a8a;
}

.skills-set h3 {
    clear: both;
}

.skill {
    display: block;
    width: auto;
    padding: 0 5px;
    line-height: 1.85rem;
    background: #34393c;
    min-height: 1.85rem;
}

.front-end_column .skill {
    margin: 0 5px 5px 0;
    background: #e16515;
    float: left;
}

.computer-graphics_column .skill {
    margin: 0 0 5px 5px;
    background: #e13e3d;
    float: right;
}

.computer-graphics_column {
    width: 25%;
}

.links-set {
    list-style: none;
    font-size: 0;
    padding: 0;
}

.links-set li {
    display: inline-block;
    font-size: 1rem;
}

.links-set li:not(:first-child) {
    margin-left: 5px;
}

.signature {
    font-family: 'Indie Flower', cursive;
}

@media only screen
and (max-device-width: 580px) {
    .fa.header-ico {
        display: inline;
    }

    .header-text {
        display: none;
    }

    .navigation {
        font-size: 2.5rem;
    }

    .navigation > a {
        text-decoration: none;
    }
}

@media print {
    *, a {
        color: #000;
        margin: 0;
        padding: 0;
    }

    .front-end-block {
        text-align: left;
    }

    .cg-block {
        text-align: right;
    }

    .skills-set_heading {
        display: none;
    }

    .cv-column {
        margin-top: 0;
    }

    .resume-cv_column {
        border: 1px solid #000000;
        border-top: transparent;
        border-bottom: transparent;
    }
}
