<div class="wrapper  anim-slide-left">
    <span>cg</span>
    <img src="http://for.unipi.it/stefano_garzarella/files/2014/11/Work-in-progress-1024x603.png" alt="work in progress" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 400px">
    <iframe src="https://myhub.autodesk360.com/ue2bf4806/shares/public/SH7f1edQT22b515c761e4e14e186744118d5?mode=embed"
            width="1024" height="768" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
            frameborder="0"></iframe>
</div>
