<div class="wrapper">
    <span>Hi, I'm Siarhei Drozd</span>
    <dl>
        <dt>Name:</dt>
        <dd>Siarhei Drozd</dd>
        <dt>Age:</dt>
        <dd>25</dd>
        <dt>Degree:</dt>
        <dd>Bachelor</dd>
        <dt>Contacts:</dt>
        <dd>
            <ul>
                <li>Email: <a href="emailto:ggold.d.roger@gmail.com">ggold.d.roger@gmail.com</a></li>
                <li>Skype: <a href="skype:sergey.drozd.mt?chat">sergey.drozd.mt</a></li>
                <li>Tel: <a href="tel:+375291955257">+375(29) 195 52 57</a><span>&nbsp;Velcom</span></li>
                <li>Tel: <a href="tel:+375333711193">+375(33) 371 11 93</a><span>&nbsp;MTS</span></li>
            </ul>
        </dd>
    </dl>
</div>