<div class="wrapper resume-cv_wrapper">
    <div class="cv-column front-end_column">
        <h3 class="skills-set_heading">Web Development</h3>
        <div class="skills-set clearfix">
            <h4>Skills:</h4>
            <span class="skill">JavaScript</span>
            <span class="skill">CSS3</span>
            <span class="skill">HTML5</span>
            <span class="skill">AJAX</span>
            <span class="skill">Design Patterns</span>
            <span class="skill">Gulp</span>
            <span class="skill">Webpack</span>
            <span class="skill">NPM</span>
            <span class="skill">Git</span>
            <span class="skill">BabelJs</span>
            <span class="skill">Bootstrap</span>
            <span class="skill">HTML canvas</span>
            <span class="skill">JQuery</span>
            <span class="skill">AngularJS</span>
            <span class="skill">ReactJS</span>
            <span class="skill">Redux</span>
            <span class="skill">Sass</span>
            <span class="skill">MySQL</span>
            <span class="skill">MongoDB</span>
            <span class="skill">Mongoose</span>
            <span class="skill">NodeJS</span>
            <span class="skill">Express</span>
        </div>
    </div>
    <div class="cv-column resume-cv_column">
        <div class="resume-cv">
            <img src="#" class="avatar rounded-circle" ng-src="img\Profile_avatar_placeholder_large.png" alt="Siarhei Drozd photo">
            <ul class="links-set">
                <li><i class="fa fa-github" aria-hidden="true"></i></li>
                <li>codewars</li>
            </ul>
            <dl>
                <dt>Name:</dt>
                    <dd>Siarhei Drozd</dd>
                <dt>Age:</dt>
                    <dd>25</dd>
                <dt>Education:</dt>
                    <dd>Minsk State Radio Engineering College / 2007-2013</dd>
                <dt>Degree:</dt>
                    <dd>Bachelor</dd>
                <dt>Courses:</dt>
                    <dd>Rolling Scopes school - (Web development)</dd>
                    <dd>Polyglot language school - (Intermediate English course)</dd>
                <dt>English:</dt>
                    <dd>B1</dd>
                <dt>Contacts:</dt>
                    <dd>
                        <ul class="contacts-list">
                            <li>Email: <a href="mailto:ggold.d.roger@gmail.com">ggold.d.roger@gmail.com</a></li>
                            <li>Skype: <a href="skype:sergey.drozd.mt?chat">sergey.drozd.mt</a></li>
                            <li>Tel: <a href="tel:+375291955257">+375(29) 195 52 57</a><span>&nbsp;Velcom</span></li>
                            <li>Tel: <a href="tel:+375333711193">+375(33) 371 11 93</a><span>&nbsp;MTS</span></li>
                        </ul>
                    </dd>
            </dl>
        </div>
    </div>
    <div class="cv-column computer-graphics_column">
        <h3 class="skills-set_heading">Computer Graphics</h3>
        <div class="skills-set clearfix">
            <h4>Applications:</h4>
            <span class="skill">V-Ray</span>
            <span class="skill">Substance painter</span>
            <span class="skill">ZBrush</span>
            <span class="skill">3D Max</span>
            <span class="skill">TopoGun</span>
            <span class="skill">CorelDraw</span>
            <span class="skill">PhotoShop</span>
            <h4>Skills:</h4>
            <span class="skill">Retopology</span>
            <span class="skill">Sculpting</span>
            <span class="skill">3D Modelling</span>
            <span class="skill">Texturing</span>
            <span class="skill">Maps baking</span>
            <span class="skill">Rigging</span>
            <span class="skill">Animation</span>
            <span class="skill">Render</span>
        </div>
    </div>
</div>
